/*
Theme Name: Resume of Hashemi Rafsan
Author: Hashemi Rafsan
Author URI: https://hashemirafsan.cf/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Resume's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.0
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: Resume
*/

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body{
	font-family: Arial;
	font-size:1.4em;
	background: ;
	background-size: cover;
	color: black;

}
.site-header{
	color:black;
}
.site-header h1 a{
	text-decoration:none;
	color:black;
}
.site-nav{
	margin:0 auto;
}
.site-nav ul{
	list-style: none;
	scroll-behavior: fixed
}
.site-nav ul li{
	float: left;
	border:1px solid black;
	border-bottom: none;
	padding:10px 10px;
	margin-right: 10px;
	background:black;
}
.site-nav ul li a {
	text-decoration: none;
	color: white

}
.site-nav ul li:hover{
	font-family: fantasy;
}
/*page layout*/
article.page{
	font-size: 300%;
}
#sidebar ul{
	list-style: none
}
.page_item li a {
	color:red;
}